absl-py
astunparse
certifi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
HypercomplexKeras
idna
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
Pygments
pyparsing
python-dateutil
requests
rich
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
typing_extensions
urllib3
Werkzeug
wheel
wrapt

# For WSL -> pip install tensorflow[and-cuda]